.main {
	background-color: var(--secondary-col);
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
}
.txt {
	font-family: "comfortaa";
	font-weight: 600;
	color: var(--text-col);
	font-size: 16px;
}
