.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-col);
	z-index: var(--z-index-modal);
}

.stopPropagation {
	display: flex;
	justify-content: center;
	align-items: center;
}
