.input_Block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 15px;
	padding: 10px;
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 1;
	border-radius: 25px 25px 0 0;
	/* border-bottom: 1px solid var(--secondary-col); */
}

.attention {
	display: flex;
	flex-direction: column;
	gap: 5%;
	width: 25vw;
	justify-content: center;
}

.attention_txt {
	font-family: "comfortaa";
	font-weight: 600;
	font-size: 15px;
	color: red;
	font-size: 10px;
	padding-left: 5%;
	position: absolute;
	left: 0;
	top: 91px;
}

.input {
	border-radius: 20px;
	padding: 10px;
	font-size: 14px;
	font-family: "comfortaa";
	font-weight: 600;
	color: var(--text-col);
	box-shadow: 0 0 3px var(--secondary-col);
}

.input_name {
	width: 100%;
}
.input_time {
	width: 80%;
}

.styled_input::placeholder {
}

.submitBtn {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
	width: 20px;
}

.submitImg {
	border-radius: 20px;
}
.submitBtn:hover {
	scale: 1.1;
}
