.input_Block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 15px;
	padding: 15px 10px;
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 1;
	border-radius: 25px 25px 0 0;
	/* border-bottom: 1px solid var(--secondary-col); */
}

.input {
	padding: 5px;
	font-size: 14px;
	font-family: "comfortaa";
	font-weight: 600;
	color: var(--text-col);
}

.input_name {
	width: 100%;
}
.input_time {
	width: 100%;
}

.addTaskBtn {
	display: flex;
	gap: 3px;
	color: var(--text-col);
	align-items: center;
	transition: scale 0.05s;
	border-radius: 12px;
	background-color: var(--background-col);
	padding: 5px 10px;
	box-shadow: 0 0 2px var(--secondary-col);
}
.addTaskBtn:hover {
	scale: 1.03;
}
.internalAddTaskBtn{
	padding: 0;
	background-color: none;
	box-shadow: none;
}

.clearQueueBtn{
	border-radius: 10px;
	background-color: var(--background-col);
	box-shadow: 0 0 2px var(--secondary-col);
	padding: 5px;
}
.clearQueueBtn:hover {
	scale: 1.03;
}

.clearQueueIcon{
	width: 25px;
}


.newTask {
	background-color: var(--background-col);
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
	box-shadow: 0 0 2px var(--secondary-col);
	animation: mountNewTask 0.2s ease-in-out;
}

.topBtns{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

@keyframes mountNewTask {
	0% {
		scale: 0.85;
	}

	100% {
		scale: 1;
	}
}

.lowerBlock {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.addTaskIcon {
	width: 25px;
}

