.input_Block {
	display: flex;
	width: 25vw;
	justify-content: space-between;
}

.attention {
	display: flex;
	flex-direction: column;
	gap: 5%;
	width: 25vw;
	justify-content: center;
}

.attention_txt {
	font-family: "comfortaa";
	font-weight: 600;
	font-size: 15px;
	color: red;
	font-size: 10px;
	padding-left: 5%;
}

.input {
	border-radius: 20px;
	padding: 10px;
	font-size: 14px;
	font-family: "comfortaa";
	font-weight: 600;
	color: var(--text-col);
	box-shadow: 0 0 3px var(--secondary-col);
}

.input_name {
	width: 50%;
}
.input_time {
	width: 15%;
}

.styled_input::placeholder {
}

.submitBtn {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
}

.submitImg {
	border-radius: 20px;
}
.submitBtn:hover {
	scale: 1.1;
}
