.processor {
	position: relative;
	display: flex;
	flex-direction: column;
}
.list {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 35vw;
	height: 75vh;
	gap: 10px;
	overflow-y: auto;
	border-radius: 30px;
	margin-top: 44px;
	background-color: var(--modal-col);
	box-shadow: 0 0 3px var(--secondary-col);
}

.empty_List {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 30px;
	width: 35vw;
	height: 75vh;
	justify-content: center;
	padding: 5px;
	margin-top: 44px;
	box-shadow: 0 0 3px var(--secondary-col);
	background-color: var(--modal-col);
}

.empty_txt {
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
	font-size: 20px;
}

.txt {
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
	font-size: 20px;
}

.topBtns {
	display: flex;
	width: 95%;
	justify-content: flex-start;
	align-items: center;
	top: 60px;
	left: 15px;
}

/* .addQuantumBtn {
	display: flex;
	gap: 3px;
	color: var(--text-col);
	align-items: center;
	transition: scale 0.05s;
	border-radius: 12px;
	background-color: var(--background-col);
	padding: 5px 10px;
	box-shadow: 0 0 2px var(--secondary-col);
}
.addQuantumBtn:hover {
	scale: 1.03;
} */

/* .addIcon {
	width: 25px;
} */

@media (max-width: 1330px) {
	.empty_txt {
		font-size: 16px;
	}
}
