.quantum_block {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.txt {
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
	font-size: 17px;
}

.attentionTxt {
	color: red;
	font-size: 10px;
}

.input {
	border-radius: 20px;
	padding: 10px;
	font-size: 14px;
	font-family: "comfortaa";
	font-weight: 600;
	color: var(--text-col);
	box-shadow: 0 0 3px var(--secondary-col);
}

.input_time {
	width: 70px;
}

.quantum {
	display: flex;
	gap: 5px;
	margin-right: 40px;
}

.submitBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.submitBtn:hover {
	scale: 1.1;
}

.currentQuantum {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--secondary-col);
}
