.quantum_block {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	background-color: var(--background-col);
	box-shadow: 0 0 2px var(--secondary-col);
	padding: 5px 10px;
	border-radius: 12px;
	z-index: 1;
}

.quantum {
	display: flex;
	gap: 5px;
	margin-right: 40px;
}

.quantum_input {
	width: 40%;
	border-radius: 10px;
	padding: 7px;
	font-size: 14px;
	font-family: "comfortaa";
	font-weight: 600;
	color: var(--text-col);
	box-shadow: 0 0 1px var(--secondary-col);
}

.txt {
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
	font-size: 17px;
}

.attentionTxt {
	position: absolute;
	color: red;
	font-size: 10px;
}

.submitBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.submitBtn:hover {
	scale: 1.1;
}

.currentQuantum {
	padding: 7px;
	border-radius: 10px;
	border: 1px solid var(--secondary-col);
}
