.footer {
	border-top: 1px solid white;
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 100vw;
	background-color: #242424;
	margin-top: 35px;
}

.txt {
	font-family: "Poppins";
	font-weight: 600;
	color: white;
	font-size: 13px;
}
