@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

/* Основные цвета */
:root {
	--primary-col: rgba(178, 162, 112, 1);
	--secondary-col: rgba(2, 0, 36, 0.3);
	--text-col: black;
	--background-col: #ffff;
	--modal-col: rgba(247, 247, 247, 1);
	--primary-blue-col: rgba(0, 153, 255, 1);
	--warning-back-col: #ffe9c4;
	--warning-col: #daaa4d;
	--z-index-modal: 10;
	--z-index-popover: 20;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
	display: block;
}
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

h1 {
	font-size: 21px;
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
}

p {
	font-size: 18px;
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
	margin: 0 !important;
}
span {
	font-size: 12px;
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
	margin: 0 !important;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	height: auto;
}

address {
	font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}
input[type="text"],
input[type="password"] {
	cursor: pointer;
	font-family: "Comfortaa";
	font-weight: 600;
	text-indent: 12px;
	cursor: text;
}

input[placeholder] {
	font-family: "Comfortaa";
	font-size: 14px;
	font-weight: 600;
	text-indent: 12px;
}
input::-moz-placeholder {
	font-family: "Comfortaa";
	font-size: 14px;
	font-weight: 600;
}
input:-moz-placeholder {
	font-family: "Comfortaa";
	font-size: 14px;
	font-weight: 600;
}
input:-ms-input-placeholder {
	font-family: "Comfortaa";
	font-size: 14px;
	font-weight: 600;
}
input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

::-webkit-scrollbar {
	width: 7px;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: darkgrey;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
