.task {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.progress_bar {
	width: 100%;
	height: 45px;
	background: linear-gradient(to right, #676767, #676767 19px, #c4c4c4 20px);
	border-radius: 30px;
	overflow: hidden;
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
	position: relative;
}

.progress_fill {
	height: 100%;
	background: linear-gradient(to right, #1cd49d, #00c851);
	position: relative;
	border-radius: 30px 0 0 30px;
}

.progress_wave {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #cccccc;
	opacity: 0.7;
}

.txt {
	padding-left: 20px;
	font-family: "Poppins";
	font-weight: 600;
	color: white;
	font-size: 15px;
}

.progress_text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 21px;
	font-weight: bold;
	color: #555;
}
