.taskList {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.list {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 25vw;
	height: 75vh;
	gap: 10px;
	overflow-y: auto;
	overflow-y: hidden;
	box-shadow: 0 0 3px var(--secondary-col);
	border-radius: 25px;
	background-color: var(--modal-col);
}

.empty_list {
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 25vw;
	height: 75vh;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--text-col);
	border-radius: 25px;
	box-shadow: 0 0 3px var(--secondary-col);
	background-color: var(--modal-col);
}

.empty_txt {
	font-family: "Comfortaa";
	font-weight: 600;
	color: var(--text-col);
	font-size: 20px;
	/* opacity: 50%; */
}

@media (max-width: 1330px) {
	.empty_txt {
		font-size: 16px;
	}
}
